name: Client CI

on:
  push:
    paths:
      - .
      - ".github/workflows/vagtplan-ci.yml"
  pull_request:
    paths:
      - .
      - ".github/workflows/vagtplan-ci.yml"
  workflow_dispatch:

jobs:
  test-client:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: .

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      #- name: Run ESLint
      #  run: npm run lint
        
     # - name: Run tests
      #  run: npm test
